.rightbarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 65%;
}

.rightbarFriend:hover {
    background-color: lightgray;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.rightbarProfileImgContainer {
    margin-right: 10px;
    position: relative;
    text-decoration: none;
}

.rightbarProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

.rightbarOnline {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 17px;
    border: 2px solid white;
}

.rightbarUsername {
    font-weight: 500;
    color: black;
    margin-left: 5px;
}
